<p style="border: 20;color:rgb(241, 40, 13);font-size: medium;">This is jabhra 123</p>

<p style="font-size: xx-large;color: blueviolet;">This is Tuni Mahato</p>
<div style="size: 100px;">
  <div>
    <p>ufsavdc qwjvteakxuqikvdgjbyft weqbjwe  vijqryfw eqtbj ewjoywyiweg tb7fzyrivkjg CXBKDGV</p>
    <div>
      uywaeoebgixcxr6u3dyuh9se9bqrdh6t7isioy8hb8d7drqo6vdx r
    </div>
  </div>
  <img src="/assets\images\IMG_20210627_170726.jpg" alt="image" width="400" height="400" style="align-items: center;" >
  <!-- <img=F:\Angular app\to-do-list\src\ -->
</div>

<router-outlet></router-outlet>
